.hero-background {
  background-image: url(/images/back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-overlay-bg {
  background-image: url(/images/logo/back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.glass-overlay {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.3);
}

.map-iframe {
  border: 0;
}
